﻿@model ReSalingTickets.Presentation.Models.CityModel
@{
    ViewData["Title"] = "Contact";
}

<title>@ViewData["Title"] - ReSalingTickets</title>

@using (Html.BeginForm("AddCity", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group text">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group text">
        <div class="col-md-offset-2 col-md-10 text">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>
}
