﻿@model IEnumerable<ReSalingTickets.Presentation.Models.UserModel>
@{
    ViewBag.Title = "Список пользователей";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<a asp-action="Create">@SharedLocalizer["ДобавитьПользователя"]</a>

<table class="table">
    <tr><th>@SharedLocalizer["Логин"]</th><th>@SharedLocalizer["ДатаРегистрации"]</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Login</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">@SharedLocalizer["СменитьПароль"]</a>
                    <a class="btn btn-sm btn-primary" asp-controller ="Roles" asp-action="Edit" asp-route-id="@user.Id">@SharedLocalizer["ИзменитьПрава"]</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        @SharedLocalizer["Удалить"]
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
