﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    
    <link rel="stylesheet" href="~/css/style.css"/>
    <script src="~/jquery-3.1.1.js"></script>
    <script src="~/MyScript.js"></script>
</head>
<body>
    <form id="searchForm">
        <input type="text" placeholder="Введите название события" name="name" />

        <dl class="dropdown" onchange="GetVenues()">

            <dt>
                <a href="#">
                    <span class="hida">Расширеный поиск</span>
                    <p class="multiSel"></p>
                </a>
            </dt>

            <dd>
                <div id="www" class="mutliSelect">
                    <ul id="select"></ul>
                </div>
            </dd>
        </dl>
        <dl class="dropdown" onchange = "GetDate()">

            <dt>
                <a href="#">
                    <span class="hida"></span>
                    <p class="multiSel"></p>
                </a>
            </dt>

            <dd>
                <div id="www" class="mutliSelect">
                    <ul id="selectVenues"></ul>
                </div>
            </dd>
        </dl>
        <dl class="dropdown">

            <dt>
                <a href="#">
                    <span class="hida"></span>
                    <p class="multiSel"></p>
                </a>
            </dt>

            <dd>
                <div id="www" class="mutliSelect">
                    <ul id="selectDate"></ul>
                </div>
            </dd>
        </dl>

        <select name="type">
            <option name="application/json" value="application/json">json</option>
            <option name="application/xml" value="application/xml">xml</option>
            <option name="application/csv" value="application/csv">csv</option>
        </select>
        
        <input id="submit" type="submit" value="Найти" />
    </form>

    <p id="loader" style="display: none; color:red"><img src="~/ajax-loader.gif" /></p>

    <script>
        $(".dropdown dt a").on('click', function () {
            $(".dropdown dd ul").slideToggle('fast');
        });

        $(".dropdown dd ul li a").on('click', function () {
            $(".dropdown dd ul").hide();
        });

        function getSelectedValue(id) {
            return $("#" + id).find("dt a span.value").html();
        }

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
        });

        $('.mutliSelect input[type="checkbox"]').on('click', function () {

            var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
              title = $(this).val() + ",";

            if ($(this).is(':checked')) {
                var html = '<span title="' + title + '">' + title + '</span>';
                $('.multiSel').append(html);
                $(".hida").hide();
            } else {
                $('span[title="' + title + '"]').remove();
                var ret = $(".hida");
                $('.dropdown dt a').append(ret);

            }
        });

    </script>
    
</body>
</html>
