﻿@model Sakura.AspNetCore.IPagedList<ReSalingTickets.Presentation.Models.EventShowModel>
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
<head>
    @await Html.PartialAsync("_Search")
</head>

<body>
    <table class="table textBlaze">
        <tr>
            <th>
                @Html.ActionLink("Name", "ShowAllEvents", new { orderSort = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("City", "ShowAllEvents", new { orderSort = ViewBag.CitySortParm })
            </th>
            <th>
                @Html.ActionLink("Date", "ShowAllEvents", new { orderSort = ViewBag.VenueSortParm })
            </th>
            <th>
                @Html.ActionLink("Venue", "ShowAllEvents", new { orderSort = ViewBag.VenueSortParm })
            </th>
            <th>
                @SharedLocalizer["Банер"]
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.RouteLink(item.Name, new { controller = "Ticket", action = "GetllAvailableTickets", area = "", @item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modellItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    <img src="data:image;base64,@item.PathToTheBanner" height="80" width="100" />
                    <img src="@item.PathToTheBanner" width="100" height="80">
                </td>
            </tr>
        }
    </table>
    <h3>Всего найдено : @Model.TotalCount</h3>
    <ul class="pagination">
        <li>My Custom Item</li>
        <pager setting-disable-bootstrap-v4-class="true" />
        <li>Another Custom Item</li>
    </ul>
</body>
