﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="header">
    <div class="row">
        <h2>@SharedLocalizer["Контакты"]</h2>
    </div>
    <div class="left">
        <pre>
@SharedLocalizer["Ковалев"]
@SharedLocalizer["Кирилл"]
@SharedLocalizer["Николаевич"]
Email: @SharedLocalizer[""]
@SharedLocalizer["НомерТелефона"]
        </pre>
    </div>
</div>
