﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="LogOf" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a> @User.Identity.Name</a>
            </li>
            <li>
                <button type="submit" title="Выход из приложения" class="btn btn-link navbar-btn navbar-link text">@SharedLocalizer["Выход"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right text">
        <li><a asp-controller="Account" asp-action="Login" title="Войти в приложение" class="navbar-brand">@SharedLocalizer["Вход"]</a></li>
        <li><a asp-controller="Account" asp-action="Register" title="Регистрация нового пользователя" class="navbar-brand">@SharedLocalizer["Регистрация"]</a></li>
    </ul>
 }
