﻿@model IEnumerable<ReSalingTickets.Presentation.Models.TicketShowModel>
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
@{
    ViewBag.Title = "Список доступных билетов";
}
<head>
    <img src="@ViewBag.image" width="500" height="300">
    <link rel="import" href="@ViewBag.Description">
</head>

<body>
    <h3>Список доступных билетов</h3>
    <script>
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#intro-dm');
        document.body.appendChild(content.cloneNode(true));
    </script>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSeller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.RouteLink(item.NameSeller, new { controller = "User", action = "Contact", area = "", @item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Order" asp-action="AddOrder" asp-route-id="@item.Id">@SharedLocalizer["Выкупить"]</a>
                </td>
           </tr>
        }

    </table>
</body>
